@model Domain.Klant

@{
    ViewBag.Title = "Nieuwe Klant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>


    //function CreateKlant() {
    //    var naam = $(".naam").val();
    //   // var name = vreverv;
    //    var email = $(".email").val();
    //    //var test = vfvfee;
    //    alert(naam);
    //    alert(email);
    //    $.ajax("/api/Klant/Create/" + naam + "/" + email, {
    //        type: "GET",
    //        dataType:"json"
    //    })
    //        .done(function (data) {
    //            SaveVms(data)
    //        })
    ////}
    //function closeModal() {
    //    $("#id01").css("display", "none");
    //}
    //function postAfkorting() {

    //}
    //function postNieuweAfkorting() {
    //    var afk = $("#afkorting").val();
    //    var naam = $("input#Naam").val();
    //    var email = $("input#Email").val();
    //    $.ajax("/api/klant/AddKlant/" + naam + "/" + email + "/" + afk+"/", {
    //        type: "POST",
    //        dataType: "json"
    //    })
    //}
</script>
<h2>Nieuwe Klant</h2>

@*@if (ViewBag.Message != null)
    {
        <script>

            $(document).ready(function () {
                $("#id01").css("display", "block");
       // passwd = prompt('@ViewBag.Message');

    });

        </script>

    }
*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Klant</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Naam, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Naam, new { htmlAttributes = new { @class = "naam form-control klantNaam" } })
                @Html.ValidationMessageFor(model => model.Naam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "email form-control klantEmail" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Afkorting, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Afkorting, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Afkorting, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div>
                <button class="btn btn-default" onclick="CreateKlant()">Save</button>
            </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Maak" class="btn btn-default" onclick="SaveVms()" />
            </div>
        </div>
    </div>
}
@*<div id="id01" class="modal">
        <div class="modal-content">
            <div class="container">
                <span onclick="closeModal()" class="button display-topright">&times;</span>
                <table>
                    <tr>
                        <td><button onclick="postAfkorting()">JA</button></td>
                    </tr>
                    <tr>
                        <td><button onclick="postNieuweAfkorting()">NEE</button></td>
                        <td><input id="afkorting" type="text" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>*@
<div>
    @Html.ActionLink("Terug naar lijst", "Index")
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">
            $('#myFile').change(function () {
                var file = this.files[0];

                var formData = new FormData();
                formData.append('MyFile', file);

                $.ajax('/api/Klant/File/Create', {
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function () {
                        alert('File uploaded successfully!');
                    },
                    error: function () {
                        alert('OOOPS something went wrong!');
                    }
                });
            });
        </script>
    }*@
