@model IEnumerable<Domain.Klant>

@{
    ViewBag.Title = "Klanten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .klanten{
        display:none;
    }
    .pointerCursor {
        cursor: pointer;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var ShowKlantId;
    $(document).ready(function () {
        HideKlanten();
        $(".klanten").click(function (event) {
            ShowKlantId = $(this).attr("id");
        });
        $('td').contents().filter(function () {
            return this.nodeType === 3;
        }).wrap('<span class="pointerCursor" />');
        
    })
    function HideKlanten() {
        //alert("test");
        $(".klanten").each(function () {
            var id = $(this).attr("id");
            //alert("eee");
            $.ajax("/api/SSH/getHoofdAcc/" + id+"", {
                type: "GET",
                dataType: "json"
            })
                .done(function (data) {
                    var bool = data.IsKlantAccount;
                    if (bool == true) {
                        //      alert(data.KlantId)
                        $("#" + data.KlantId).hide();
                    }
                    else {
                        $("#" + data.KlantId).show();

                        $("#" + data.KlantId).attr("onclick", "ShowKlanten()")
                        $("#" + data.KlantId).css("font-weight", "bold")
                        $("#" + data.KlantId).hover(function () {
                            $(this).css("background-color", "lightgrey");
                        }, function () {
                            $(this).css("background-color", "white");
                        })

                    }
                   // alert(data.IsKlantAccount);
                })
        }) 
    }
    function ShowKlanten() {
        // alert(ShowKlantId);
        HideKlanten();
        $.ajax("/api/SSH/getKlantAcc/" + ShowKlantId + "", {
            type: "GET",
            dataType: "json"
        })
            .done(function (data) {
                $.each(data, function (index,value) {
                    //alert(value)
                    $("#" + value.KlantId).css("display","table-row");

                })
            })
    }
</script>
<div class="container">
    @Scripts.Render("~/Scripts/changePass.js")
    <h2>Lijst van Klanten</h2>
    @*<button onclick="HideKlanten()">TEST</button>*@
    <p>
        @Html.ActionLink("Nieuwe Klant", "Create") @*| @Html.ActionLink("Inviteer", "Invite")*@
    </p>
    @*<button class="btn-success" onclick="VerzendMails()">Stuur uitnodigingsmail</button>*@
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGeblokkeerd)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="klanten" id="@item.KlantId">
                <td>
                    @Html.DisplayFor(modelItem => item.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsGeblokkeerd)
                </td>
                <td>
                    @if (item.IsKlantAccount == true)
                    {
                        @Html.ActionLink("Aanpassen", "EditAccount", new { id = item.KlantId }) 
                    }
                    else
                    {
                        @Html.ActionLink("Aanpassen", "Edit", new { id = item.KlantId }) 
                    } |
                    @Html.ActionLink("Details", "Details", new { id = item.KlantId }) |
                    @if (item.IsGeblokkeerd == true)
                    {
                        @Html.ActionLink("Deblokkeer", "Unblock", new { id = item.KlantId })
                    }
                    else
                    {
                        @Html.ActionLink("Blokkeer", "Block", new { id = item.KlantId })
                    } |
                    @Html.ActionLink("Verwijder", "Delete", new { id = item.KlantId }) |
                </td>
            </tr>

        }

    </table>
</div>

