<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Monin-OVM-Platform</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/SharedLayout.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="LayBar" class="navbar navbar-inverse navbar-fixed-top logo">

        <div class="container">
            <div class="navbar-header test">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="imgNav" src="~/Content/img/monin.jpg" />
                @Html.ActionLink("Monin-OVM-Platform", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                @Html.Partial("_LoginPartial")

                <ul id="Menu" class="nav navbar-nav ">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @if (ViewContext.HttpContext.User.IsInRole("Klant"))
                {
                    <div class="dropdown">
                        <button class="dropbtn">Opties</button>
                        <div class="dropdown-content">
                            @Html.ActionLink("Beheer Account", "Index", "Manage")
                            @Html.ActionLink("KlantAccount Aanmaken", "Create", "KlantAccount")
                            @Html.ActionLink("KlantenAccount overzicht", "Index", "KlantAccount")
                            @Html.ActionLink("Virtuele Machines", "KlantOVMs", "SSH")
                        </div>
                    </div>
                }

                @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                {
                    <div class="dropdown">
                        <button class="dropbtn">Opties</button>
                        <div class="dropdown-content">
                            @Html.ActionLink("Beheer Account", "Index", "Manage")
                            @Html.ActionLink("Klant Aanmaken", "Create", "Klant")
                            @Html.ActionLink("Klantenlijst", "Index", "Klant")
                            @Html.ActionLink("Virtuele Machines", "StartSSHOVM", "SSH")
                        </div>
                    </div>
                }
                @if (ViewContext.HttpContext.User.IsInRole("KlantAccount"))
                {
                    <div class="dropdown">
                        <button class="dropbtn">Opties</button>
                        <div class="dropdown-content">
                            @Html.ActionLink("Beheer Account", "Index", "Manage")
                            @Html.ActionLink("Virtuele Machines", "Account", "SSH")
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
                <p>&copy; @DateTime.Now.Year - Stage Monin</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    @RenderSection("scripts", required: false)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
