@model Domain.Klant

@{
    ViewBag.Title = "Aanpassen Klant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        loadVMs();
        $("input.CheckVM").each(function () {
           // searchOvmLijst();
        })
    });
    function searchOvmLijst(row) {
        var klantId = ('@Model.Email');
        var ovmId = ($(row).children("td").find("#CheckVM").val()).trim();
        $.ajax("/api/Klant/OvmLijstKlant/" + klantId + "/" + ovmId, {
            type: "GET",
            dataType: "json"
        })
            .done(function (data) {
                if (!$.trim(data)) {
                }
                else {
                    $(row).children("td").find("#CheckVM").prop("checked", true);
                }
            })
    }
    function loadVMs() {
        if ($("#VmCheck").css("display") != "none") {
            $("#VmCheck").find("tr:not(:first)").remove();
            $("#VmCheck").hide();
        }
        $.ajax("/api/Klant/SSH/KlantOVMs", {
            type: "GET",
            dataType: "json"
        })
            .done(function (data) {
                $("#VmCheck").show();
                $.each(data, function (index, value) {
                    $("#VmCheck").append("<tr class=VmRow><td><input type=checkbox class=" + value.id + " id=CheckVM name=chk_VM  value=" + "'" + value.id + "'" + "/>" + value.Name + "</tr></td>");//+"<br />");
                })
                $(".VmRow").each(function () {
                    searchOvmLijst($(this));
                })
            });
    }
    function SaveVms() {
        var t;
        var k = '@Model.Email';
        //alert(k);
        $(".VmRow").each(function () {
            // alert($(this).children("td").find("#CheckVM").val());
            if ($(this).children("td").find("#CheckVM").is(":checked")) {
                t = $(this).children("td").find("#CheckVM").val();
                // alert("woeho" + t)
                //k = $(".klantEmail").val()
                $.ajax("/api/Klant/SSH/lijstcreate/" + t + "/" + k + "/", {
                    type: "GET",
                    dataType: "json"
                })
                    .done(function (data) {
                        // alert(data)
                        window.location.href = "/KlantAccount/Index";
                    })
            }

        });
        //loadVMs();
    }
</script>
<h2>Aanpassen Medewerker</h2>
@Scripts.Render("~/Scripts/changePass.js")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Medewerker</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.KlantId)

        <div class="form-group">
            @Html.LabelFor(model => model.Naam, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Naam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Naam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.IsGeblokkeerd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsGeblokkeerd)
                    @Html.ValidationMessageFor(model => model.IsGeblokkeerd, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div id="KlantDiv">
    <table id="VmCheck" style="display:none">
        <tr><th>Virtuele machines</th></tr>
    </table>
    <div>
        <button class="btn btn-default" onclick="SaveVms()">Save</button>
    </div>
</div>
<div>
    @Html.ActionLink("Terug naar lijst", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
