@model StageSSPortal.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title.</h2>


<div class="form-group">
    <label class="col-md-2 control-label" >Old Password:</label>
    <div class="col-md-10">
        <input class="form-control" id="oldpasswd" type="password" @*value="@Model.OldPassword"*@ />
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label">New Password:</label>
    <div class="col-md-10">
        <input class="form-control" id="newpasswd" type="password" @*value="@Model.NewPassword"*@ />
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label">Confirm Password:</label>
    <div class="col-md-10">
        <input class="form-control" id="conpasswd" type="password" @*value="@Model.ConfirmPassword"*@/>
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Change password" class="btn btn-default" />
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}