@model StageSSPortal.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    //window.onbeforeunload = confirmExit;
    //function confirmExit() {
    //    return "change this"
        
    //}
    //$(document).on('click', 'a', function (e) {
    //    checkPass();
    //});

    //function checkPass() {
    //    $.ajax('/api/Gebruiker/GetGebruiker/', {
    //        type: 'GET',
    //        dataType: 'json'
    //    })
    //        .done(function (data) {
    //            alert(data);
    //            var k = data.MustChangePassword;
    //            alert(k);
    //            if (k == true) {
    //                e.preventDefault();
    //                e.stopImmediatePropagation();
    //                alert("change password first");
    //            }

    //        })
    //};

        
</script>
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}