@model StageSSPortal.Models.IndexViewModel
@{
    ViewBag.Title = "Beheer uw account";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<h2>@ViewBag.Title.</h2>
@Scripts.Render("~/Scripts/changePass.js")
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Verander uw accountinstellingen</h4>
    <hr />
    <dl class="dl-horizontal">


        @if (Model.HasPassword && ViewContext.HttpContext.User.IsInRole("Admin"))
        {
        @*<dt>Password:</dt>
        <dd>
            [@Html.ActionLink("Change your password", "ChangePassword")]
        </dd>*@
        <dt>OVM Password:</dt>
        <dd>
            [@Html.ActionLink("Change OVM Password", "ChangeOvmPassword")]
        </dd>
        <dt>Klant Reset</dt>
        <dd>
            [@Html.ActionLink("Reset Klant Password", "ResetKlant")]
        </dd>
        }
        @if (Model.HasPassword && ViewContext.HttpContext.User.IsInRole("Klant"))
        {
        @*<dt>Password:</dt>
        <dd>
            [ @Html.ActionLink("Change your password", "ChangePassword")]
        </dd>*@
        <dt>Medewerker Reset</dt>
        <dd>
            [@Html.ActionLink("Reset Medewerker Password", "ResetKlantAccount")]
        </dd>
        }
        
        
        @if (Model.HasPassword)
        {
        <dt>Password:</dt>
        <dd>
            [ @Html.ActionLink("Change your password", "ChangePassword")]
        </dd>
        }
        else
        {
        <dt>Password:</dt>
        <dd>
        [@Html.ActionLink("Create", "SetPassword")]
        </dd>
        }
        


    </dl>
</div>
@section scripts{}