@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Administratorportaal";
}
@Styles.Render("~/Content/Admin.css")
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        checkPasswd();
       // checkForVms(); 
             });
    function checkPasswd() {

        $.ajax("/api/SSH/checkPasswd", {
            type: "GET",
            dataType: "json"
        })
            .done(function (data) {
                if (data == false) {
                    alert("test")
                    InsertPasswd();
                } checkForVms();
            })
    }
    function InsertPasswd() {
        var passwd = prompt("Geef het password");
        alert(passwd);
        $.ajax("/api/SSH/InsertPasswd/" + "'" + passwd + "'" + "/", {
            type: "POST",
            dataType: "json"
        }).done(function (data) {
            checkForVms();
        })
    } 

    function checkForVms() {
        var redirect = false;
        $.ajax("/api/SSH/CheckVms", {
            type: "GET",
            dataType: "json"
        }).done(function (data) {
            $.each(data, function (index, value) {
                if (value.KlantId == 0) {
                   // alert(value.id + " "+value.KlantId)
                    redirect = true;
                    //alert("Er zijn machines die nog moeten worden toegewezen!")

                    //OpenDialog();
                    //$("div#Dialog-box").append("<label>" + value.Naam + "</label>")
                }
            })
            if (redirect == true) {
                alert("Er zijn machines die nog moeten worden toegewezen!")
                window.location.href = "/SSH/StartSSHOVM";
            }
        })
    }
    

    $('#Dialog-Box').dialog({
        autoOpen: false,
        height: 500,
        width: 700,
        modal: false
    });
    function OpenDialog() {
        loadKlanten();
        $('#Dialog-Box').dialog('open');
    }
    function loadKlanten() {
        $("select").show();
        $("#btnSave").show();
        $.ajax("/api/SSH/Klanten", {
            type: "GET",
            dataType: "json"
        })
            .done(function (data) {
                $("#klantenlijst").find("option").remove();
                $.each(data, function (index, value) {
                    $("#klantenlijst").append("<option class=klant> " + value.Naam + "</option>");
                })
            });
    }
</script>
<div class="container">
    <div class="row">
        <img class="foto" src="~/Content/img/moninfiets.png" />
        @*<div id="Dialog-Box">
            <select id="klantenlijst"></select>
            <button class=" btn btn-default" id="btnSave" onclick="SaveKlantVM()">Save Klant</button>
        </div>*@
        @*<div class="col-md-9">
            <h2>Welkom</h2>
        </div>*@
        @*<div class="AdminLink">
                    <table>
                        <tr><td>
            <a href="@Url.Action("Index", "Manage")">Account beheren</a>
        </td></tr>
                        <tr><td>
            <a href="@Url.Action("Create", "Klant")">Klant aanmaken</a>
        </td></tr>
                        <tr><td>
            <a href="@Url.Action("Index", "Klant")">Lijst van klanten</a>
        </td></tr>
                        <tr><td>
            <a href="@Url.Action("StartSSHOVM", "SSH")">Lijst van machines</a>
        </td></tr>
                    </table>
                </div>*@
    </div>

    @*<div class="col-lg-12">
            <p>U bent nu ingelogd als administrator op dit webplatform. </p>
            <p>U kunt nu navigeren naar de beheerpagina.</p>
        </div>*@

</div>
